table {
  th, .number {
    text-align: center;
    background-color: #4bb3af;
  }
  input {
    min-height: 20px;
    width: 100px;
  }
}

.active {
  border: 1px solid black;
}

.control-panel {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  div {
    margin-right: 10px;
  }
}